@use "../base/variables" as *;
@use "../base/mixins" as *;

.archive {
    &.post-type-archive-movie {
        .archive-title {
            text-align: center;
            margin-bottom: $spacing-xl;
        }
    }
}

.tax-movie_genre {
    .archive-title {
        text-align: center;
        margin-bottom: $spacing-xl;

        .genre-name {
            color: $secondary-color;
        }
    }
} 